.selected {
  border-radius: 10px;
  background-color: #daf3ff;
}

.current {
  border-radius: 10px;
  background-color: #7ad5ff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}